@import "./fonts/font.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-base-color: #9193a9;
  --text-black-color: #272831;
  --btn-red: #fd5359;
  --btn-red-hover: rgb(242, 83, 89);
}

body {
  font-family: "Neutrif Pro";
  color: var(--text-base-color);
  background: #fafafd;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

main {
  padding-bottom: 150px;
}
